In [ ]:
Introduction to python programming:

In [ ]:
Understanding the variables in python:

In [1]:
x=3
y=2
z=x+y
print(z)

5

In [ ]:
Rules for declaring the variables:

In [ ]:
Rule 1:No Name spaces while declaring the variable name.

In [2]:
first name='Selcia'
print(first name)

SyntaxError: invalid syntax (4111367040.py, line 1)

In [3]:
firstname='Selcia'
print(firstname)

Selcia

In [ ]:
Rule no 2:A variable name should not start with a number**

In [5]:
1name ='Jack'
print(1name)

SyntaxError: invalid decimal literal (153034716.py, line 1)

In [6]:
name1 ='Jack'
print(name1)

Jack

In [ ]:
Rule no 3: A variable name should not contain any special characters
    @ $ % & *

In [1]:
name@='Asha'
print(name@)

SyntaxError: invalid syntax (3198081543.py, line 2)

In [ ]:
Introduction to datatypes in python:
1. String------------>str
2. Numbers------------->integer------>int and decimal-------->float(0.1,0.2)
3. List---------->list
4. Tuples-------->tuple
5. Dictionaries------------>dict

In [ ]:
Classification of datatypes :
    1. Mutable
    2. immutable

In [ ]:
1. mutable datatypes------>we can edit and alter------>flexible in nature.
2. immutable datatypes------>which we cannot be able to edit or alter----->fixed in nature.

In [ ]:
Introduction to string datatype:

In [ ]:
Definition: A string is a series of char declared in quotes
classification:it is  calssified as an immutable datatype
how to create a string.........? single quote or double quote.

In [2]:
name='ravi'  #single quote
print(name)

ravi

In [3]:
name2="swetha"  #double quote
print(name2)

swetha

In [ ]:
Introduction to string methods:

In [4]:
type(name)

str

In [5]:
type(name2)

str

In [6]:
fullname ="praveen kumar"
print(fullname)

praveen kumar

In [7]:
print(fullname.title())

Praveen Kumar

In [8]:
print((fullname.upper()))

PRAVEEN KUMAR

In [9]:
print(fullname.lower())

praveen kumar

In [ ]:
commenting the code:#

In [ ]:
#-------->used to commenting the code.